  RewriteEngine On

# neidel.xyz -> neidel.xyz/n
  RewriteCond %{HTTP_HOST}    ^neidel.xyz
  RewriteCond %{REQUEST_URI} !^/n$
  RewriteCond %{REQUEST_URI} !^/n/
  RewriteRule ^/?(.*) https://neidel.xyz/n/$1 [R,L]

# http -> https
  RewriteCond %{HTTPS} !^on$
  RewriteRule ^/?(.*) https://%{HTTP_HOST}/$1 [R,L]

# /dot/scripts > github.com/jneidel/dotfiles/tree/master/scripts
  Redirect permanent /dot https://github.com/jneidel/dotfiles#readme
  RewriteRule ^dot/(.*)$ https://github.com/jneidel/dotfiles/tree/master/$1 [L]

# redirect to websites
  Redirect permanent /gh https://github.com/jneidel
  RewriteRule ^gh/(.*)$ https://github.com/jneidel/$1 [L]

# rewriterules: https://serverfault.com/questions/214512/redirect-change-urls-or-redirect-http-to-https-in-apache-everything-you-ever
# testing rewriterules: https://htaccess.madewithlove.be/
# rewriterules explaination: https://www.digitalocean.com/community/tutorials/how-to-set-up-mod_rewrite

  Redirect permanent /resume /cv
  Redirect permanent /cv /cv.de.pdf
  Redirect permanent /cv.de /cv.de.pdf
  Redirect permanent /cv.en /cv.en.pdf

  Redirect permanent /github https://github.com/jneidel
  Redirect permanent /git https://github.com/jneidel
  Redirect permanent /keepass https://drive.google.com/open?id=1zdghN_BF9mgzrbs7lYn4_NQLjcecnYtS
  Redirect permanent /htw https://github.com/jneidel/htw#readme
  Redirect permanent /doodle https://dudle.inf.tu-dresden.de

  Redirect permanent /po https://po.jneidel.com
  Redirect permanent /api https://api.jneidel.com
  Redirect permanent /india https://india.jneidel.com
  Redirect permanent /indien https://india.jneidel.com

  redirect /char /Character_Sheet.pdf
  redirect /phb /Player%27s%20Handbook.pdf

# enable cors for fonts directory
# passing "fonts" works for chrome but not ff
  Header set Access-Control-Allow-Origin "*"

# re-route to node process
  # this does do anything, change the .htaccess in /var/www/virtual/jneidel/subdomain.jneidel.com and include this rewriterule
  RewriteRule ^po/(.*) http://localhost61621:/$1 [P]
  RewriteRule ^api/(.*) http://localhost:62220/$1 [P]
  RewriteRule ^india/(.*) http://localhost:63839/$1 [P]

# random redirects
  redirect /corona https://www.berlin.de/corona/massnahmen/verordnung
  Redirect /pad https://pad.riseup.net/p/VCFWrb4nqzCmAi1DyysS-tmp
  Redirect /dw http://jonathanaquino.com/latin/index.php
  Redirect /yoga https://github.com/jneidel/yoga-vidya-thunderbird2csv-add-on#benutzung

  redirect /send https://send.vis.ee
  redirect /xmr /monero
  redirect /payment /monero
