extends base

block head
  title About
  link( rel="icon" href="../dist/img/favicon.png" )
  link( rel="stylesheet" type="text/css" href=`../dist/css/about.css` )
  style.

block body
  h1 About me

  p You can find my cv here: <a href="/cv.de.pdf">de</a>, <a href="/cv.de.pdf">en</a>

  h2 What I do

  h3 Hobbies
  h4 Programming
  p Programming allows me to solve my own problems and makes my life easier.
  p Anything that can be reasonably be done there, I do in the command-line (see my <a href="https://github.com/jneidel/dotfiles#dotfiles">dotfiles</a> for apps I use and their configuration).
  p For small stuff I write <a href="https://github.com/jneidel/dotfiles/tree/master/scripts#scripts">shell scripts</a>, for more complex applications I use NodeJS with TypeScript.
  p My primary operating system is Arch Linux, for it's great documentation, breadth of packages, stability and debugability. (I documented my last install <a href="https://jneidel.com/arch.sh">here</a>.)

  h4 Cooking
  p I cook very regularly. It allows me to be creative in improvising meals, has depth in combining flavours, lets me take full control of my nutrition, allows me to unwind through the mindless portions of it and I get to eat tasty stuff every day.

  h4 Meditation
  p Whenever I do meditate it always pays off, as I am more self-aware, (goal) focused and patient. On top of it the practice is generally relaxing, though not always easy. To get started <a href="https://www.headspace.com">Headspace</a> can be a great introduction.

  h3 Sports
  h4 Lifting
  p I'm currently following the <a href="https://stronglifts.com/5x5/">5x5</a> and going to the gym is a lot of fun. The increasing weights every session give a sense of progression and the proper free weights execution one of mastery.

  h4 Cycling
  p Not doing anything major, I just enjoy taking 1-3h rides around Berlin and Brandenburg. Gets me out of my head and I take joy in tiring myself out on the pedals.

  h3 Reading
  h4 Reading (non-fiction)
  // p The world is interesting enough, I don't tend to read fiction.
  p I generally read about topics that already interest me (programming, cooking/nutrition, lifting, etc.) or general life advice (habits, productivity, etc.).

  h4 Manga/Comics
  p The medium and the fact that it is a piece of media that can be create by even one person, allows manga to be really creative and personal in the stories they tell. Some of my favorites include (unordered):
  ul
    li
      a( href="https://manga4life.com/manga/Koe-No-Katachi" ) A Silent Voice
    li
      a( href="https://manga4life.com/manga/Gantz" ) Gantz
    li
      a( href="https://manga4life.com/manga/Boku-Wa-Mari-No-Naka" ) Inside Mari
    li
      a( href="https://manga4life.com/manga/Molester-Man" ) Molester Man
    li
      a( href="https://manga4life.com/manga/Death-Note" ) Death Note
    li
      a( href="https://manga4life.com/manga/Liar-Game" ) Liar Game
    li
      a( href="https://manga4life.com/manga/Shingeki-No-Kyojin" ) Attack on Titan
    li
      a( href="https://manga4life.com/manga/Kingdom" ) Kingdom
    li
      a( href="https://manga4life.com/manga/Hunter-X-Hunter" ) Hunter x Hunter
    li
      a( href="https://manga4life.com/manga/Onepunch-Man" ) One-Punch Man

  h3 Other
  h4 Boardgames
  p Fixed rule sets allow for relatively quick proficiency and even mastery. I especially enjoy skill-based games (so not Monopoly), where I can optimize and get lost in the game. Some of my favorites:
  ul
    li
      a( href="https://www.boardgamegeek.com/boardgame/1465/wizard" ) Wizard
    li
      a( href="https://www.boardgamegeek.com/boardgame/246784/cryptid" ) Cryptid
    li
      a( href="https://www.boardgamegeek.com/boardgame/198773/codenames-pictures" ) Codenames: Pictures

  h4 Music
  p I mostly listen to Hip Hop and some EDM (Psytrance, Electro). 95% of the time to stuff I'm already familiar with. I listen to other genres too, but that's what I keep coming back to.
  p In Hip Hop production is more important to me than lyrics. I like repetition that changes over time. Some of my favorites:
  ul
    li
      a( href="https://soundcloud.com/izzy-cham/sets/black-muffin-ep-totem" ) Black Muffin - Totem
    li
      a( href="https://www.youtube.com/watch?v=LI174-FJ-HM&list=PL8ko0DOLqMHk0OaDIoXpe0UmYWpUlk5JK&index=3" ) Andy Mineo and Wordsplayed - Magic & Bird
    li
      a( href="https://www.youtube.com/playlist?list=PLFwej9rU1VrLcXK11C1B0mu6V8NkiRIrA" ) Bosshafte Beats - High Class
    li
      a( href="https://www.youtube.com/watch?v=gz0y5IFoSYU&list=PLo0KfeuOI1mUb8hIlTIbwlnwrsNrF7eyd&index=7" ) Paul Kalkbrenner - Self
    li
      a( href="https://www.youtube.com/watch?v=RMhIC6195KU&list=PLkAyBawOOPUJ_MFPtLel4hLeyW7MRzSPf" ) Pusha T - DAYTONA

  p Singles:
  ul
    li
      a( href="https://soundcloud.com/dominik-becker-312785797/california-sadness-ohmeygod" ) ohmeygod - california sadness
    li
      a( href="https://www.youtube.com/watch?v=iZ8sZXFN6jc" ) Aphex Twin - Windowlicker

  h2 Who I am
  h3 I am a great navigator
  p While walking and biking I build up a map in my head. I can then use that map to plan out future routes in my head.

  p I get enjoyment from adding to that map by exploring new areas, taking unfamiliar paths and connecting different sections of a city.
  p Equally as satisfying is using that map for routing myself to where I need to go from memory. Sometimes I'll look at navigational systems (like Open Street Maps) for input or optimization, but the actually navigation I'll always do from my head.

  p If my social standing allows for it, I'll always take charge of leading or navigating the group.

  br
  p <b>Questions? Feedback?</b> Feel free to reach out: <a href="mailto:about@jneidel.com">about@jneidel.com</a>
