extends base

block head
  title About
  +links( "about" )
  style.

block body
  h1 About me

  // ISTJ

  h2 Hobbies
  h3 Programming
  p I enjoy that programming allows me to solve my own problems and I love tweaking my linux system to make my life easier.
  p Anything that can resonably be done in the command-line, I do there. Because of that most of the stuff I programm works around the command-line. For quick scripts and stuff that needs to interface with multiple other programms I use <a href="https://jneidel.com/dot/scripts">Shell</a>, for more complex applications JavaScript/TypeScript.
  p For info on my arch setup check-out my <a href="https://jneidel.com/dot">dotfiles</a>.

  h3 Cooking
  p I cook every night (unless I got leftovers). It allows me to be creative in improvising meals, has depth in combining flavours, lets me take full control of my nutrition, allows me to unwind through the mindless portions of it and I get to eat tasty stuff every day.

  h3 Lifting
  p I'm currently following the <a href="https://stronglifts.com/5x5/">5x5</a> and going to the gym is a lot of fun. The increasing weights every session give a sense of progression and the proper free weights execution one of mastery.

  h3 Cycling
  p Not doing anything major, I just enjoy taking 1-3h rides around Berlin and Brandenburg. Gets me out of my head and I take joy in tiring myself out on the pedals.

  h3 Reading (non-fiction)
  // p The world is interesting enough, I don't tend to read fiction.
  p I generally read about topics that already interest me (programming, cooking/nutrition, lifting, etc.) or general life advice (habits, productivity, etc.).

  h3 Meditation
  p Whenever I do meditate it always pays off, as I am more self-aware, (goal) focused and patient. On top of it the practice is generally relaxing, though not always easy. I use <a href="https://www.headspace.com">Headspace recordings</a> for my practice.

  h2 Interests
  h3 Manga/Comics
  p The medium and the fact that it is a piece of media that can be create by even one person, allows manga to be really creative and personal in the stories they tell. Some of my favorites include (unordered):
  ul
    li
      a( href="https://manga4life.com/manga/Koe-No-Katachi" ) A Silent Voice
    li
      a( href="https://manga4life.com/manga/Gantz" ) Gantz
    li
      a( href="https://manga4life.com/manga/Boku-Wa-Mari-No-Naka" ) Inside Mari
    li
      a( href="https://manga4life.com/manga/Molester-Man" ) Molester Man
    li
      a( href="https://manga4life.com/manga/Death-Note" ) Death Note
    li
      a( href="https://manga4life.com/manga/Liar-Game" ) Liar Game
    li
      a( href="https://manga4life.com/manga/Shingeki-No-Kyojin" ) Attack on Titan
    li
      a( href="https://manga4life.com/manga/Kingdom" ) Kingdom
    li
      a( href="https://manga4life.com/manga/Hunter-X-Hunter" ) Hunter x Hunter
    li
      a( href="https://manga4life.com/manga/Onepunch-Man" ) One-Punch Man

  h3 (Board-) Games
  p The fixed rulesets allows for relatively quick proficiency and even mastery. I especially enjoy skill-based games (so not Monopoly), where I can optimize and get lost in the game. Some of my favorites:
  ul
    li
      a( href="https://www.boardgamegeek.com/boardgame/1465/wizard" ) Wizard
    li
      a( href="https://www.boardgamegeek.com/boardgame/246784/cryptid" ) Cryptid
    li
      a( href="https://www.boardgamegeek.com/boardgame/198773/codenames-pictures" ) Codenames: Pictures

  // h4 DnD

  h3 Music
  p I mostly listen to Hip Hop and EDM (Psytrance, Electro, Drum & Bass), 95% of the time to stuff I'm already familar with. I listen to other genres too, but that's what I keep coming back to.
  p In Hip Hop production is more important to me than lyrics. I like repetition that changes over time. Some of my favorites:
  ul
    li
      a( href="https://soundcloud.com/izzy-cham/sets/black-muffin-ep-totem" ) Black Muffin - Totem
    li
      a( href="https://www.youtube.com/watch?v=LI174-FJ-HM&list=PL8ko0DOLqMHk0OaDIoXpe0UmYWpUlk5JK&index=3" ) Andy Mineo and Wordsplayed - Magic & Bird
    li
      a( href="https://www.youtube.com/playlist?list=PLFwej9rU1VrLcXK11C1B0mu6V8NkiRIrA" ) Bosshafte Beats - High Class
    li
      a( href="https://www.youtube.com/watch?v=gz0y5IFoSYU&list=PLo0KfeuOI1mUb8hIlTIbwlnwrsNrF7eyd&index=7" ) Paul Kalkbrenner - Self
    li
      a( href="https://www.youtube.com/watch?v=RMhIC6195KU&list=PLUuiba6ko475qUKTAAeKjm5w0ZIvSiv7-&index=5" ) Pusha T - DAYTONA

  br
  p <b>Questions? Feedback?</b> Feel free to reach out: <a href="mailto:about@jneidel.com">about@jneidel.com</a>
