include _mixins

doctype html
html
  head
    meta( charset="UTF-8" )
    link( rel="icon" href="dist/img/favicon.png" )
    link( rel="stylesheet" type="text/css" href="dist/css/github-markdown.min.css" )
    style.
      html {
        display: flex;
        justify-content: center;
      }

      body {
        width: 100vw;
        max-width: 900px;
        padding: 40px;
        margin: 40px 0;
        border: 1px solid #e1e4e8;
        border-radius: 2px;
      }
    block head
  
  body.markdown-body
    block body

