extends base

block head
  title jneidel.com
  +links( "index" )
  style.
    .intro p {
      margin-bottom: 0px;
    }

block body
  h1 Jonathan Neidel
  div#textWithFigure
    div.text
      h2 Introduction
      p Hi, I'm Jonathan. A self-taught backend developer and CLI Enthusiast. Besides coding, I like optimizing in the kitchen and enjoy spending time in nature. You can find out more <a href="about">about me here</a>. And here you find a out what I'm up-to <a href="now">now</a>.
      p To get in touch with me:<br><a href="mailto:home@jneidel.com">home@jneidel.com</a> (or via <a href="/gpg.txt">GPG</a>)
    div.figure
      figure#me.figureWithCaption
        .crop-container
          img( width="350px" src="/profile-picture.jpg" )
        i
          figcaption Me.
  h2 Links
  div.links
    a( href="https://github.com/jneidel/dotfiles" ) My dotfiles
    p Everything around my arch linux setup: scripts, browser extensions and a whole lot of configs (check the releases for regular updates)
    a( href="/movies" ) Movies
    p Movies that I like
    a( href="/md/colors.html" ) Colors
    p My personal colorscheme
