head
  title jneidel.com
  meta( charset="UTF-8" )
  //link( rel="icon" href="dist/img/favicon.png" )
  link( href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" )
  link( rel="stylesheet" type="text/css" href="dist/css/index.css" )

body
  main
    h1 Jonathan Neidel
    a( href="https://github.com/jneidel" )
      //img( src="dist/img/github.png" alt="GitHub Logo" )