extends base

block head
  title jneidel.com
  +links( "index" )
  style.
    .intro p {
      margin-bottom: 0px;
    }

block body
  h1 Sending me Monero
  p My wallet address:
  b 47M8wc3gtTcTWrDVRRVjRn7pRbTY14Dhx9ZNC95XoaVFa6hEuwk9PiZH95jSscgauP5dpwGgiCgtmPeE1Xe33S411ArGSKL
  br
  img( src="../dist/img/monero-qr.png" )
