extends base

block head
  title jneidel.com
  +links( "now" )
  style.
    .flex {
      display: flex;
    }
    .flex a {
      margin: 0 5px;
    }

block body
  h1 movies

  table
    tr
      td name
      td known for
      td genres
    for i in movies
      tr
        td
          a( href=`https://www.imdb.com/title/${i.imdb}` )= i.name
        td
          -i.known = typeof i.known === "string" ? [ i.known ] : i.known;
          p= i.known ? i.known.join( ", " ) : ""
        td
          p= i.genres ? i.genres.join( ", " ) : i.genre ? i.genre.join( ", " ) : ""
