html {
  font-size: 14pt;
}


header li {
  button:last-child {
    margin-right: -20px;
  }
  a[href="/rss"] {
    margin-right: -23px;
    svg {
      margin-bottom: -3px;
      width: 1.50rem;
      height: 1.50rem;
    }
  }
}

/*
 * Start a paragraph with a big letter.
 * Trigger by putting {.dropcap} under the paragraph.
 * Source: https://www.veriphor.com/articles/markdown-attributes/#drop-caps
 */
.dropcap:first-letter {
  color: rgba(var(--color-primary-500),var(--tw-text-opacity));
  float: left;
  font-family: serif;
  font-size: 76px;
  line-height: 60px;
  padding-right: 4px;
}

/* Highlight broken links detected by render_hooks */
a.broken {
  background: #ff0;
  border: 2px solid #f00;
  padding: 0.1em 0.2em;
}
