html {
  font-size: 14pt;
}

/* Correct spacing of the header icons */
header #basic-menu li {
  button:last-child {
    margin-right: -20px;
  }
  a[href="/rss/"], a[href="/de/rss/"] {
    margin-right: -23px;
    svg {
      margin-bottom: -3px;
      width: 1.50rem;
      height: 1.50rem;
    }
  }
}

#content p + ul, p + ol { /* p followed by ul */
  margin-top: -15px !important;
}
/* #content ul > li, ol > li { */
/*   margin: 3px 0 !important; */
/*   ul, ol { /* nested lists */ */
/*     margin: 3px 0 !important; */
/*   } */
/* } */

hr#list-page-divider {
  margin: 25px 0 5px 0;
}

/* Move "Edit on Github" button closer to h1 if it's alone */
#article-metadata:has(> div > span:only-child > a[title="Edit content"]) {
  margin: 0 0 15px 0;
}

/*
 * Start a paragraph with a big letter.
 * Trigger by putting {.dropcap} under the paragraph.
 * Source: https://www.veriphor.com/articles/markdown-attributes/#drop-caps
 */
.dropcap:first-letter {
  color: rgba(var(--color-primary-500),var(--tw-text-opacity));
  float: left;
  font-family: serif;
  font-size: 76px;
  line-height: 60px;
  padding-right: 4px;
}

/* Highlight broken links detected by render_hooks */
a.broken {
  background: #ff0;
  border: 2px solid #f00;
  padding: 0.1em 0.2em;
}

/* input[type="checkbox"][checked][disabled] { */
/*   filter: invert(1); */
/* } */

input[type="checkbox"][disabled] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-right: 2px;

  background: rgb(var(--color-neutral-100));
  border: 1px solid rgb(var(--color-neutral-300));;
}
input[type="checkbox"][checked][disabled] {
  background-color: rgb(var(--color-primary-300));
  position: relative;

  &::after {
    border: solid rgb(var(--color-neutral-100));
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -60%) rotate(45deg) scale(90%);
    width: 4px;
    height: 8px;
    border-width: 0 2px 2px 0;
  }
}

html.dark div.lead {
  color: rgb(var(--color-neutral-300));
}

/* newsletter-signup */
@keyframes pulse {
  0% {
    box-shadow: none;
  }
  90% {
    box-shadow: 0 0 0 0 rgba(255, 77, 77, 0.7);
  }
  97% {
    box-shadow: 0 0 0 15px rgba(255, 77, 77, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 77, 77, 0);
  }
}
.email-form {
  button {
    font-size: .9rem;
    animation: pulse 20s infinite;
  }

  span {
    margin-bottom: 0;
  }

  .input-container {
    position: relative;

    input {
      width: 240px;
      padding: 10px 0;
      font-size: .8rem;
      border: none;
      border-bottom: 1px solid rgb(var(--color-neutral-300));
      outline: none;
      background: transparent;
    }
    label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: rgb(var(--color-neutral-400));
      pointer-events: none;
      transition: 0.2s ease-in-out;
    }
    input:focus ~ label, input:valid ~ label {
      top: -20px;
      left: 0;
      font-size: 12px;
      color: rgb(var(--color-primary-400));
    }
    input:focus {
      border-bottom: 2px solid rgb(var(--color-primary-400));
    }
  }
}
