<div class="newsletter-signup flex justify-center">
  <form class="email-form form-lang-de" name="newsletter" action="https://app.keila.io/forms/nfrm_6b3D2jVg" method="post" target="_blank">
    <div class="flex justify-center">
      Bleibe auf dem laufendem!
    </div>
    <div class="flex items-end mt-3 mb-7">
      <span class="input-container inline-block mr-2">
        <input type="text" name="contact[first_name]" required/>
        <label for="contact_first_name">Nenn mich…</label>
      </span>
      <span class="input-container inline-block">
        <input type="email" name="contact[email]" required/>
        <label for="contact_email">Meine beste Email…</label>
      </span>
      <button
        class="rounded-md ml-2 px-4 py-1 text-neutral no-underline bg-primary-400 hover:bg-primary-500 dark:bg-primary-700 dark:hover:bg-primary-500"
        type="submit">Zum Newsletter Anmelden</button>
    </div>
  </form>
</div>
