<div class="newsletter-signup flex justify-center">
  <form class="email-form form-lang-en" name="newsletter" action="https://app.keila.io/forms/nfrm_y6VdGb9E" method="post" target="_blank">
    <div class="flex justify-center">
      Stay in touch!
    </div>
    <div class="flex items-end mt-3 mb-7">
      <span class="input-container inline-block mr-2">
        <input type="text" name="contact[first_name]" required/>
        <label for="contact_first_name">Call me…</label>
      </span>
      <span class="input-container inline-block">
        <input type="email" name="contact[email]" required/>
        <label for="contact_email">My best email…</label>
      </span>
      <button
        class="rounded-md ml-2 px-4 py-1 text-neutral no-underline bg-primary-400 hover:bg-primary-500 dark:bg-primary-700 dark:hover:bg-primary-500"
        type="submit">Subscribe to the Newsletter</button>
    </div>
  </form>
</div>
