#TableOfContents ol {
  list-style-type: square;
  margin-left: 20px;

  li ol {
    list-style-type: circle;
    margin-left: 25px;
  }
}

h4 {
  // make spacing approriate to the font size
  margin-bottom: 7px;
}
