<strong>What is a focus challenge?</strong>
<br>
I commit to work on a topic (a subject) for a period of time.
The leading principle is: Stay <em>on-topic</em> at all times.
That means any task, project, action, media shall pertain pertain to the
selected topic.
Anything <em>off-topic</em> is to be noted for later without receiving much
attention.
<br>
<br>
Exceptions apply for established habits, outside work, chores, <abbr title="Time with Friends, Family, Francis (my wife)">FFF</abbr>, etc.
<br>
<br>
Some applications of this principle:

<ul>
  <li>I hid all my off-topic projects.</li>
  <li>I only listed to on-topic audiobooks and podcasts.</li>
  <li>I only read on-topic books.</li>
  <li>I only listened to instrumental music.</li>
  <li>I did not process any off-topic notes in my note-taking system.</li>
  <li>I did not make any online purchases.</li>
</ul>
