<div class="flex justify-center">
  <form class="email-form" name="newsletter" netlify>
    <div class="flex justify-center">
      Get notified!
    </div>
    <div class="flex items-end mt-3">
      <span class="input-container inline-block mr-2">
        <input type="text" name="name" required/>
        <label for="name">Your name</label>
      </span>
      <span class="input-container inline-block">
        <input type="email" name="email" required/>
        <label for="email">Your best email</label>
      </span>
      <button
        class="rounded-md ml-2 px-4 py-1 text-neutral no-underline bg-primary-400 hover:bg-primary-500 dark:bg-primary-700 dark:hover:bg-primary-500"
        type="submit">Subscribe</button>
    </div>
  </form>
</div>
